<div>
    <div class="formularioRegistro">
        <form [formGroup]="mercanciaForm" (ngSubmit)="guardar()">
            <h1>Sesion</h1>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label>Seleccione Usuario</label>
                    <select name="usuario" id="usuario" formControlName="usuario" class="form-control">
                        <option [ngValue]="item" *ngFor="let item of usuarios">
                            {{ item.idUsuario }}
                        </option>
                    </select>
                </div>
            </div>
            <h2>Crear Mercancia</h2>
            <div class="form-group">
                <label>Mercancia</label>
                <input type="text" formControlName="idMercancia" class="form-control" placeholder="Ingresa Nombre" />
            </div>
            <div class="form-group">
                <label>Cantidad</label>
                <input type="number" formControlName="cantidad" class="form-control" min="0"
                    placeholder="Ingresa Cantidad" />
            </div>
            <div class="form-group">
                <label>Fecha Creacion</label>
                <input type="date" formControlName="fCreacion" class="form-control"
                    max="{{ fCreacion | date: 'yyyy-MM-dd' }}" />
            </div>
            <button type="submit" class="btn btn-success" [disabled]="mercanciaForm.invalid">
                Guardar
            </button>
        </form>
    </div>

    <div class="tablaRegistro">
        <h2>Mercancias Registradas</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Fecha</th>
                    <th>Usuario</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of mercancias">
                    <td>{{ item.idMercancia }}</td>
                    <td>{{ item.cantidad }}</td>
                    <td>{{ item.fCreacion }}</td>
                    <td>{{ item.usuario.nombre + " " + item.usuario.apellido }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container main-container">
    <router-outlet></router-outlet>
</div>