.formularioRegistro {
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 5%;
}

.form-control {
  margin-top: 0.5%;
  margin-bottom: 1.5%;
}

.tablaRegistro {
  padding-left: 8%;
  padding-right: 8%;
  margin-top: 2%;
}
